extends layout

block content9
       
  #centerbox3
    form(name='form3', onsubmit='alert("a link has been sent to your email address to change your password")')
      .signUp                
        input#email.largeHeightBox(name='email',placeholder='email', required='', type='email')
        br
  
      input#logButton(value='change password', type='submit')